@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-nunito_sans: 'Nunito Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-lato: 'Lato', sans-serif;
}

/* Override Tailwind’s default font-sans */
html {
  font-family: var(--font-lato);
  scroll-behavior: smooth;
}

@layer utilities {
  .poppins {
    font-family: var(--font-poppins);
  }

  .nunito_sans {
    font-family: var(--font-nunito_sans);
  }

  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }

  .animate-in {
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
  }

  .fade-in {
    animation-name: fadeIn;
  }

  .zoom-in {
    animation-name: zoomIn;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

code {
  @apply text-gray-700 dark:text-gray-200;
}
